<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %>-<%= restaurant.country %> rating:
    <% restaurant.rating.times do %>
    ⭐️
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to "New Restaurant", new_restaurant_path %>
